{% extends 'root.html' %} {% block title %} myMY - Account {% endblock %} {%
block body %} {% if title %}
<div class="container-fluid py-1 mb-2 mt-1" align="center">
  <img
    width="100"
    height="100"
    src="{{ url_for('static', filename='myMY-logo-v2.png') }}"
    alt="myMY Icon"
  />
  <h1
    style="
      font-size: xx-large;
      color: navy;
      font-weight: bold;
      font-size: xx-large;
    "
  >
    Account Manager
  </h1>
  <div align="end" class="sticky-top mx-1 py-3">
    <a href="#bottom" type="button" class="btn btn-danger">v</a>
  </div>

  <div class="container py-1" id="fm" align="center">
    <div id="manager" class="py-2 my-1">
      <div class="container d-flex" id="tb">
        <table
          class="table table-warning table-hover table-striped-columns border border-3"
        >
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Password</th>
              <th scope="col">Alias</th>
              <th scope="col">Account</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-success">
              <th scope="row">{{user.uname}}</th>
              <td>
                <button
                  type="button"
                  onclick="changePass()"
                  class="btn btn-info"
                >
                  Change
                </button>
              </td>
              <td>
                {{user.alias}}:&ensp;
                <button
                  type="button"
                  onclick="changeAlias()"
                  class="btn btn-dark"
                >
                  Change
                </button>
              </td>
              <td>
                <button type="button" onclick="delAcc()" class="btn btn-danger">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- password changer -->
  <div id="psd" class="mx-1" align="center">
    <div class="col border border-3 border-primary">
      <div class="mx-2 my-1 pt-3">
        <div align="end">
          <button type="button" class="btn btn-danger" onclick="changePass()">
            X
          </button>

          <h2 align="center" style="color: aqua; font-weight: bolder">
            CHANGE PASSWORD
          </h2>
        </div>

        <form
          class="form-control form-control-lg"
          action="/account/my-account/account-manager/change-password"
          method="POST"
        >
          <div class="py-2 my-1" align="center">
            <label for="inputCurrentPassword" class="my-2"
              ><span style="font-weight: bold">Current Password</span></label
            >
            <input
              type="password"
              class="form-control"
              id="inputCurrentPassword"
              name="inputCurrentPassword"
              placeholder="Current Password"
              required
            />
          </div>
          <div class="my-1" align="center"></div>
          <div class="py-1" align="center">
            <label for="newPassword" class="my-2"
              ><span style="font-weight: bold">New Password </span>
            </label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="New Password"
              pattern="(?=.*[a-z,0-9,A-Z]).{8,}"
              title="Must contain at least 8 or more characters"
              required
            />

            <label for="newPassword2" class="my-2"
              ><span style="font-weight: bold">Confirm New Password </span>
            </label>
            <input
              type="password"
              class="form-control"
              id="newPassword2"
              name="newPassword2"
              placeholder="Confirm New Password"
              required
            />
          </div>
          <div class="col gap-1 py-2" align="center">
            <button
              type="submit"
              class="btn btn-lg btn-primary mb-3"
              align="center"
            >
              Submit Change
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- alias changer -->
  <div id="alias" class="mx-1" align="center">
    <div class="col border border-3 border-primary">
      <div class="mx-2 my-1 pt-3">
        <div align="end">
          <button type="button" class="btn btn-danger" onclick="changeAlias()">
            X
          </button>

          <h2 align="center" style="color: aqua; font-weight: bolder">
            CHANGE ALIAS
          </h2>
        </div>

        <form
          class="form-control form-control-lg"
          action="/account/my-account/account-manager/change-alias"
          method="POST"
        >
          <div class="py-2 my-1" align="center">
            <label for="inputCurrentAlias" class="my-2"
              ><span style="font-weight: bold">Current Alias</span></label
            >
            <input
              type="text"
              class="form-control"
              id="inputCurrentAlias"
              name="inputCurrentAlias"
              placeholder="Current Alias"
              required
            />
          </div>
          <div class="my-1" align="center"></div>
          <div class="py-1" align="center">
            <label for="newAlias" class="my-2"
              ><span style="font-weight: bold">New Alias</span>
            </label>
            <input
              type="text"
              class="form-control"
              id="newAlias"
              name="newAlias"
              placeholder="New Alias"
              required
            />

            <label for="newAlias2" class="my-2"
              ><span style="font-weight: bold">Confirm New Alias </span>
            </label>
            <input
              type="text"
              class="form-control"
              id="newAlias2"
              name="newAlias2"
              placeholder="Confirm New Alias"
              required
            />
          </div>
          <div class="col gap-1 py-2" align="center">
            <button
              type="submit"
              class="btn btn-lg btn-primary mb-3"
              align="center"
            >
              Submit Change
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- account deletion confirmation -->
  <div id="dla" class="mx-1" align="center">
    <div class="col border border-3 border-primary">
      <div class="mx-2 my-1 pt-3">
        <div align="end">
          <button type="button" class="btn btn-danger" onclick="delAcc()">
            X
          </button>

          <h2 align="center" style="color: aqua; font-weight: bolder">
            ACCOUNT DELETION
          </h2>
        </div>

        <form
          class="form-control form-control-lg"
          action="/account/my-account/account-manager/delete-account"
          method="POST"
        >
          <p style="color: red">
            By doing this, I understand that this action could not be undone and
            wish to proceed and accept the outcome!
          </p>
          <div class="pb-2 my-1" align="center">
            <label for="inputCurrentPassword" class="my-2"
              ><span style="font-weight: bold">Current Password</span></label
            >
            <input
              type="password"
              class="form-control"
              id="inputCurrentPassword"
              name="inputCurrentPassword"
              placeholder="Current Password"
              required
            />
          </div>

          <div class="col gap-1 py-2" align="center">
            <button
              type="submit"
              class="btn btn-lg btn-danger mb-3"
              align="center"
            >
              Delete
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="sticky-bottom mx-1 pb-3 mb-1 pt-1" align="end">
    <a href="#" type="button" class="btn btn-dark">^</a>
  </div>
</div>

<script>
  document.getElementById("psd").style.display = "none"; // reset view
  document.getElementById("alias").style.display = "none"; // reset view
  document.getElementById("dla").style.display = "none"; // reset view
  var state = document.getElementById("psd");
  var state2 = document.getElementById("alias");
  var state3 = document.getElementById("dla");
  state.style.display = "none";
  state2.style.display = "none";
  state3.style.display = "none";
  state.style.visibility = "hidden";
  state2.style.visibility = "hidden";
  state3.style.visibility = "hidden";

  function changePass() {
    if (state.style.display === "none") {
      state2.style.display = "none";
      state3.style.display = "none";
      state.style.display = "block";
      state.style.visibility = "visible";
      state2.style.visibility = "hidden";
      state3.style.visibility = "hidden";
    } else {
      state.style.display = "none";
      state.style.visibility = "hidden";
    }
  }
  function changeAlias() {
    if (state2.style.display === "none") {
      state.style.display = "none";
      state3.style.display = "none";
      state2.style.display = "block";
      state.style.visibility = "hidden";
      state2.style.visibility = "visible";
      state3.style.visibility = "hidden";
    } else {
      state2.style.visibility = "hidden";

      state2.style.display = "none";
    }
  }
  function delAcc() {
    if (state3.style.display === "none") {
      state.style.display = "none";
      state2.style.display = "none";
      state3.style.display = "block";
      state.style.visibility = "hidden";
      state2.style.visibility = "hidden";
      state3.style.visibility = "visible";
    } else {
      state3.style.display = "none";
      state3.style.visibility = "hidden";
    }
  }
  function isMobile() {
    return window.innerWidth < 600;
  }
  if (isMobile()) {
    // JavaScript code to change the class name
    document.addEventListener("DOMContentLoaded", function () {
      var fm = document.getElementById("fm");
      //   var tb = document.getElementById("tb");
      fm.classList.remove("col-5");
      //   tb.classList.add("col-3");
      //   tb.classList.remove("col col-7");
    });
  }
</script>
{% else %}
<div class="px-2 py-2 mx-3 my-1" align="center">
  <img
    width="100"
    height="100"
    src="{{ url_for('static', filename='myMY-logo-v2.png') }}"
    alt="myMY Icon"
  />
  <h1
    style="
      font-size: xx-large;
      color: navy;
      font-weight: bold;
      font-size: xx-large;
    "
  >
    Hi! <br />Welcome back, <code>{{user.alias}}</code>!
  </h1>
  <br />

  <a
    href="{{url_for('transaction.transactionHome')}}"
    type="button"
    class="btn btn-lg btn-success"
    >Add new!</a
  >
  <br />
  <br /><a
    href="{{url_for('redirector.toTransactionLookup')}}"
    type="button"
    class="btn btn-info"
    >Lookup</a
  >
  &ensp;<a
    href="{{url_for('transaction.transactionEditLanding')}}"
    type="button"
    class="btn btn-danger"
    >Edit</a
  ><br /><br />
  <a
    href="{{url_for('redirector.toTransactionExport')}}"
    type="button"
    class="btn btn-secondary"
    >Export records</a
  >
  <br /><br />
  <a href="{{url_for('acc.accManager')}}"
    ><button type="button" class="btn btn-warning">Account Manager</button></a
  ><br /><br />
  <a href="{{url_for('auth.logout')}}"
    ><button type="button" class="btn btn-dark">Logout</button></a
  >
  <a href="/about/"
    ><button type="button" class="btn btn-info">About</button></a
  >
  <div class="mt-2">
    <a
      href="{{url_for('redirector.toHome')}}"
      type="button"
      class="btn btn-primary"
      >myMY Home</a
    >
  </div>
</div>
{% endif %} {% endblock %}
