{% extends 'root.html' %} {% block title %}myMY - Delete Transaction{% endblock
%}

<style>
  /* Media Query for larger screens */
  @media (min-width: 600px) {
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    main {
      width: 75%;
      max-width: 600px;
      margin: auto;
    }
    #tb {
      align-self: center;
      max-width: auto;

      margin: 20px;
      padding: 30%;
      border-collapse: collapse;
    }
  }
</style>
{% block body %}
<body>
  <main align="center" class="mx-1 px-1">
    <div id="get" class="my-2 mx-1" align="center">
      <h1><code>myMY</code> by LukeCreated</h1>

      <h2>Transaction</h2>
    </div>
    <div>
      <a
        href="{{url_for('redirector.toHome')}}"
        type="button"
        class="btn btn-primary"
        >myMY Home</a
      >&ensp;
      <a
        href="{{url_for('transaction.transactionHome')}}"
        type="button"
        class="btn btn-success"
        >Add new now!</a
      >&ensp;
      <a
        href="{{url_for('transaction.transactionGet')}}"
        type="button"
        class="btn btn-info"
        >Get</a
      >
    </div>
    <br />
    <div class="container-fluid mb-4">
      <form
        action="{{url_for('transaction.fetchTransactionByUserID')}}"
        method="GET"
      >
        <div class="container" align="center">
          <div class="form-floating mb-2">
            <input
              type="text"
              aria-label="party"
              class="form-control"
              name="tid"
              pattern="^[1-9]\d*$"
              title="Must be valid ID"
              placeholder="Enter Transaction ID..."
              required
            /><label for="tid">Please Enter Transaction ID:</label>
          </div>
        </div>

        <button class="btn btn-dark" type="submit">Search</button>
      </form>
    </div>
    <hr class="my-1" />
    {% if transaction %}
    <div class="container-fluid mt-4" id="frm">
      <form action="{{url_for('transaction.transactionDel')}}" method="GET">
        <p style="color: red"><u>You can't undo the action!</u></p>
        <div class="container" align="center">
          <div class="row col-7" id="delConFrom">
            <div
              class="input-group my-1 py-2 border border-2"
              style="background-color: yellow"
            >
              <input
                class="form-control form-check-input mt-1"
                type="checkbox"
                name="delCon"
                id="delCon"
              /><span for="delCon" class="input-group btn btn-danger"
                >I acknowledged the action can't be undone and wish to
                proceed!</span
              >
            </div>
          </div>

          <div class="form-floating mb-1">
            <select class="form-select" name="tid" id="tid">
              <option selected value="{{transaction.id}}">
                {{transaction.id}}
              </option>
              <label class="input-group-text" for="tid">Transaction ID:</label>
            </select>
          </div>
        </div>
        <div class="input-group mb-3">
          <select class="form-select" id="type" name="type" disabled>
            <option selected>{{transaction.typee}}</option>
            <label class="input-group-text" for="type">Type</label>
          </select>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Party&Amount</span>
          <input
            type="text"
            aria-label="party"
            class="form-control"
            name="party"
            id="party"
            placeholder="party"
            value="{{transaction.party}}"
            disabled
          />
          <input
            type="text"
            aria-label="amount"
            class="form-control"
            name="amount"
            id="amount"
            pattern="^\d+(\.\d+)?$"
            placeholder="amount"
            title="Must be a float value"
            value="{{transaction.amount}}"
            disabled
          />
        </div>

        <div class="input-group mb-3">
          <select class="form-select" id="currency" name="currency">
            <option selected disabled>{{transaction.currency}}</option>
          </select>
          <select class="form-select" id="via" name="via">
            <option selected disabled>{{transaction.via}}</option>
          </select>
          <span class="input-group-text">Currency&Via</span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Place&Region</span>
          <input
            type="text"
            aria-label="place"
            id="place"
            class="form-control"
            name="location"
            placeholder="place"
            value="{{transaction.location}}"
            disabled
          />
          <select class="form-select" id="country" name="country">
            <option selected disabled>{{transaction.country}}</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <input
            type="text"
            id="dtime"
            name="dtime"
            class="form-control"
            value="{{transaction.dtime}}"
            disabled
          /><span class="input-group-text">Date&Time</span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Notes</span>
          <input
            type="text"
            aria-label="party"
            class="form-control"
            name="notes"
            placeholder="notes (&lt;=100chars)"
            id="notes"
            value="{{transaction.notes}}"
            disabled
          />
        </div>

        <button type="submit" class="btn btn-lg btn-danger">DELETE</button>
      </form>
    </div>
    {% else %}
    <div class="container-fluid my-2">
      <h3 style="color: red"><u>Transaction details appears here!</u></h3>
    </div>
    {% endif %}
    <br />
    <div class="mt-1">
      <a
        href="{{url_for('redirector.toHome')}}"
        type="button"
        class="btn btn-primary"
        >myMY Home</a
      >
    </div>
  </main>
  <br />
  <div class="my-3"></div>
</body>
<script>
  function print() {
    // Get the input element by its ID
    var datePicker = document.getElementById("dtime");

    // Attach an event listener to listen for changes in the selected date
    datePicker.addEventListener("change", function () {
      // Retrieve the selected date value
      var selectedDate = datePicker.value;

      console.log(
        "Selected date:",
        selectedDate,
        `length= ${selectedDate.length}`
      );
    });
  }
</script>

{% endblock %}
