{% extends 'root.html' %} {% block title %}myMY - Edit Transaction{% endblock %}

<style>
  /* Media Query for larger screens */
  @media (min-width: 600px) {
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    main {
      width: 75%;
      max-width: 600px;
      margin: auto;
    }
    #tb {
      align-self: center;
      max-width: auto;

      margin: 20px;
      padding: 30%;
      border-collapse: collapse;
    }
  }
</style>
{% block body %}
<body>
  <main align="center" class="mx-1 px-1">
    <div id="get" class="my-2 mx-1" align="center">
      <h1><code>myMY</code> by LukeCreated</h1>

      <h2>Transaction</h2>
    </div>
    <div>
      <a
        href="{{url_for('redirector.toHome')}}"
        type="button"
        class="btn btn-primary"
        >myMY Home</a
      >&ensp;
      <a
        href="{{url_for('transaction.transactionHome')}}"
        type="button"
        class="btn btn-success"
        >Add new now!</a
      >&ensp;
      <a
        href="{{url_for('transaction.transactionGet')}}"
        type="button"
        class="btn btn-info"
        >Get</a
      >
    </div>
    <br />
    <div class="container-fluid mb-4">
      <form action="{{url_for('transaction.transactionSeDel')}}" method="GET">
        <div class="input-group mb-2">
          <span class="input-group-text">Transaction ID:</span>
          <input
            type="text"
            aria-label="party"
            class="form-control"
            name="tid"
            pattern="^[1-9]\d*$"
            title="Must be valid ID"
            placeholder="Enter Transaction ID.."
          /><button class="btn btn-danger" type="submit">Search&Delete</button>
        </div>
        <p style="color: red">You can't undo the action!</p>
      </form>
    </div>
    <hr class="my-1" />
    <div class="container-fluid mt-4" style="display: none">
      <form>
        <div class="input-group mb-3">
          <select class="form-select" id="type" name="type" disabled>
            <option selected>Choose...</option>
            <label class="input-group-text" for="type">Type</label>
          </select>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Party&Amount</span>
          <input
            type="text"
            aria-label="party"
            class="form-control"
            name="party"
            id="party"
            placeholder="party"
            value="_?_"
            disabled
          />
          <input
            type="text"
            aria-label="amount"
            class="form-control"
            name="amount"
            id="amount"
            pattern="^\d+(\.\d+)?$"
            placeholder="amount"
            title="Must be a float value"
            value="_?_"
            disabled
          />
        </div>

        <div class="input-group mb-3">
          <select class="form-select" id="currency" name="currency">
            <option value="THB" selected disabled>_?_</option>
          </select>
          <select class="form-select" id="via" name="via">
            <option value="cash" selected disabled>_?_</option>
          </select>
          <span class="input-group-text">Currency&Via</span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Place&Region</span>
          <input
            type="text"
            aria-label="place"
            id="place"
            class="form-control"
            name="location"
            placeholder="place"
            value="_?_"
            disabled
          />
          <select class="form-select" id="country" name="country">
            <option value="THA" selected disabled>_?_</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <input
            type="text"
            id="dtime"
            name="dtime"
            class="form-control"
            value="_?_"
            disabled
          /><span class="input-group-text">Date&Time</span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Notes</span>
          <input
            type="text"
            aria-label="party"
            class="form-control"
            name="notes"
            placeholder="notes (&lt;=100chars)"
            id="notes"
            value="_?_"
            disabled
          />
        </div>

        <button type="submit" class="btn btn-lg btn-danger">DELETE</button>
      </form>
    </div>
    <br />
    <div class="mt-1">
      <a
        href="{{url_for('redirector.toHome')}}"
        type="button"
        class="btn btn-primary"
        >myMY Home</a
      >
    </div>
  </main>
  <br />
  <div class="my-3"></div>
</body>
<script>
  function print() {
    // Get the input element by its ID
    var datePicker = document.getElementById("dtime");

    // Attach an event listener to listen for changes in the selected date
    datePicker.addEventListener("change", function () {
      // Retrieve the selected date value
      var selectedDate = datePicker.value;

      console.log(
        "Selected date:",
        selectedDate,
        `length= ${selectedDate.length}`
      );
    });
  }
</script>

{% endblock %}
