{% extends 'root.html' %} {% block title %}myMY - Get{% endblock %}

<style>
  /* Media Query for larger screens */
  @media (min-width: 600px) {
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #tb {
      align-self: center;
      max-width: auto;

      margin: 20px;
      padding: 30%;
      border-collapse: collapse;
    }
  }
</style>
{% block body %}

<div align="center" class="mx-1 px-1">
  <div id="get" class="my-2 mx-1" align="center">
    <img
      width="100"
      height="100"
      src="{{ url_for('static', filename='myMY-logo-v2.png') }}"
      alt="myMY Icon"
    />
    <h1><code>myMY</code> by LukeCreated</h1>

    <h2>GET</h2>

    <div>
      <a
        href="{{url_for('redirector.toHome')}}"
        type="button"
        class="btn btn-primary"
        >myMY Home</a
      >
      &ensp;
      <a
        href="{{url_for('transaction.transactionHome')}}"
        type="button"
        class="btn btn-success"
        >Add new now!</a
      >
    </div>
    <div align="end" class="sticky-top mx-1 py-2">
      <a href="#bottom" type="button" class="btn btn-danger">v</a>
    </div>
    <div class="container-fluid justify-content-center" id="t" align="center">
      {% if get %} {% if time %}
      <br />
      <p style="color: chocolate">
        &lt; as of: <u><i>{{time}}</i></u> >
      </p>
      {% if filter %}
      <h5 class="sticky-top">
        <span style="background-color: antiquewhite; border-radius: 25%"
          >&ensp;<u>Filter:</u> s&ensp;</span
        >
      </h5>
      {% endif %} {% for g in get %}
      <hr />
      <section>
        <span style="font-weight: bold">{{g}}</span>
        <br />
        <u>Type:</u> {{g.typee}}
        <br />
        <u>Via:</u> {{g.via}}
        <br />
        <u>Amount:</u> {{g.amount}}{{g.currency}}
        <br />
        <u>Party:</u> {{g.party}}
        <br />
        <u>When:</u> {{g.dtime}}
        <br />
        <u>Where:</u> {{g.location}}, {{g.country}}
        <br />
        <u>Notes:</u> {{g.notes}}
      </section>
      <hr />
      {% endfor %}<br />
      <p style="color: chocolate">
        &lt; as of: <u><i>{{time}}</i></u> >
      </p>
      {% endif %}{% else %}
      <hr />
      There's no transaction, yet!
      <a
        href="{{url_for('transaction.transactionHome')}}"
        type="button"
        class="btn btn-success"
        >Add now!</a
      >
      <hr />
      {% endif %} {% if total %}
      <span style="font-weight: bold">Calculation</span>
      <ul style="list-style-type: none">
        <li>
          <u>Received total:</u>
          <span style="color: green">~{{total.getIncome(3)}}</span>THB
        </li>
        <li>
          <u>Spent total:</u>
          <span style="color: red">~{{total.getOutcome(3)}}</span>THB
        </li>
        <li>
          <u>Transaction flow:</u>
          <span style="color: blue">~{{total.getFlow(3)}}</span>THB
        </li>
        <li>
          <u>Conversion rates (per 1THB):</u> {{total.getCurrencyListAndRate()}}
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
  <div class="sticky-bottom mx-1 pb-3 mb-1" align="end">
    <a href="#" type="button" class="btn btn-dark">^</a>
  </div>
  <br />
  <div align="center">
    <a
      href="{{url_for('redirector.toHome')}}"
      type="button"
      class="btn btn-primary"
      >myMY Home</a
    >&ensp;
    <a
      href="{{url_for('transaction.transactionHome')}}"
      type="button"
      class="btn btn-success"
      >Add new now!</a
    >
  </div>
</div>
<br />
<div class="my-3"></div>

{% endblock %}
