<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}myMY - Get Transaction{% endblock %}</title>
    <!-- inherent root file -->
    {% extends 'root.html' %}
  </head>
  {% block body %}
  <body onload="resetView()">
    <br />
    <div style="top: 50%" align="center">
      <a href="/"
        ><img
          width="100"
          height="100"
          src="{{ url_for('static', filename='myMY-logo-v2.png') }}"
          alt="myMY Icon"
      /></a>
      <h1><code>myMY</code> by LukeCreated</h1>

      <h2>Get Transaction Records</h2>

      <section class="mx-2 my-1">
        Please select the filter to apply to get transaction records.
        <br />
        <!-- get all -->
        <a
          href="{{url_for('transaction.transactionGet', type='all')}}"
          type="button"
          class="btn btn-lg btn-success my-2"
          >GET ALL records</a
        ><br />
        <!-- or -->
        <span style="font-weight: bolder" class="my-2">OR</span> <br />
        <!-- filter selection -->
        <form id="filter-selection">
          <div class="input-group my-3 mx-2 px-2">
            <label class="input-group-text btn btn-dark" for="type"
              >Filter by</label
            >
            <select
              class="form-select border border-2 border-secondary"
              id="filter"
              name="filter"
              required
            >
              <option value="" selected></option>
              <option value="amount">Amount</option>
              <option value="type">Type</option>
              <!-- <option value=""></option>
              <option value=""></option> -->
            </select>
            <button
              type="reset"
              onclick="resetView()"
              class="btn btn-secondary"
            >
              RESET
            </button>
          </div>
        </form>
        <button onclick="filterSelection()" class="btn btn-info" id="apply-btn">
          APPLY
        </button>
        <!-- get by type -->
        <div class="col-9 px-2">
          <form
            action="{{url_for('transaction.transactionGet')}}"
            method="GET"
            class="mx-1"
            id="t-type"
          >
            <div class="input-group my-3 mx-2">
              <select
                class="form-select border border-2 border-warning"
                id="type"
                name="type"
                required
              >
                <option value="" selected></option>
                <option value="outcome">Outcome</option>
                <option value="income">Income</option>
                <option value="exchange">Exchange</option>
                <option value="owe">Owe</option>
                <option value="transfer">Transfer</option>
                <option value="deposit">Deposit</option>
                <option value="withdrawal">Withdrawal</option>
                <option value="donate">Donate</option>
                <option value="invest">Invest</option>
                <option value="refund">Refund</option></select
              ><label class="input-group-text btn btn-warning" for="type"
                >Type</label
              >
            </div>
            <button type="submit" class="btn btn-lg btn-primary">GET</button>
          </form>
        </div>
        <!-- get by amount -->
        <div id="amount" class="col-9 px-2">
          <!-- amount mode selection -->
          <form class="mx-1" id="amount-form">
            <div class="input-group mb-3 mx-2">
              <select
                class="form-select border border-2 border-primary"
                id="amount.mode"
                name="amount.mode"
                onchange="amountFormHelper()"
                required
              >
                <option value="" selected></option>
                <option value="comparision">Comparision</option>
                <option value="range">Range</option>
              </select>
              <label class="input-group-text btn btn-primary" for="amount.mode"
                >Mode</label
              >
            </div>

            <!-- amount range -->
            <div id="amount.range">
              <div class="input-group my-3 mx-1">
                <span class="input-group-text btn btn-warning">A</span>
                <input
                  id="amount.a"
                  name="amount.a"
                  class="form-control border border-2 border-warning"
                  pattern="^\d+(\.\d+)?$"
                  placeholder="e.g. 0.1"
                  title="Must be a float value (1.0)"
                  required
                />
                <span class="input-group-text btn btn-warning">B</span>
                <input
                  id="amount.b"
                  name="amount.b"
                  class="form-control border border-2 border-warning"
                  pattern="^\d+(\.\d+)?$"
                  placeholder="e.g. 0.1"
                  title="Must be a float value (1.0)"
                  required
                />
              </div>
            </div>

            <!-- amount compare -->
            <div id="amount.compare_condition">
              <div class="input-group mb-3 mx-2">
                <select
                  class="form-select border border-2 border-info"
                  id="amount.compare"
                  name="amount.compare"
                  onchange="amountFormHelper()"
                  required
                >
                  <option value="" selected></option>
                  <option value="a>b">A is greater than B</option>
                  <option value="a>=b">A is greater than or equal to B</option>
                  <option value="a=b">A is equal to B</option>
                  <option value="a!=b">A is not equal to B</option>
                </select>
                <span class="input-group-text btn btn-info" for="amount.compare"
                  >Compare condition</span
                >
              </div>
            </div>

            <button type="submit" class="btn btn-lg btn-primary">GET</button>
          </form>
        </div>

        <!-- TODO: get by date -->
      </section>
    </div>
  </body>
  <script>
    selection = document.getElementById("filter");
    applyBtn = document.getElementById("apply-btn");

    tType = document.getElementById("t-type");
    amount = document.getElementById("amount");
    amount_mode = document.getElementById("amount.mode");
    amount_range = document.getElementById("amount.range");
    // amount_rangeA = document.getElementById("amount.a");
    // amount_rangeB = document.getElementById("amount.b");
    amount_compare = document.getElementById("amount.compare_condition");
    function resetView() {
      // reset view
      tType.style.display = "none";
      amount.style.display = "none";
      applyBtn.style.display = "block";
      amount_compare.style.display = "none";
      amount_range.style.display = "none";
      selection.disabled = false;
    }
    resetView(); // force to reset view
    function reverseView(view) {
      view.style.display == "block"
        ? (view.style.display = "none")
        : (view.style.display = "block");
    }
    function amountFormHelper() {
      console.log(document.getElementById("amount.compare").value);
      if (amount.style.display == "none") reverseView(amount);
      if (tType.style.display == "block") reverseView(tType);
      selection.disabled = true;
      switch (amount_mode.value) {
        case "comparision":
          console.log("amount.comparision");
          amount_compare.style.display = "block";
          amount_range.style.display = "block";
          if (document.getElementById("amount.compare").required == false) {
            document.getElementById("amount.compare").required == true;
          }
          if (document.getElementById("amount.compare").value == "") {
            //   Swal.fire({
            //   title: "Required action!",
            //   text: "Please select the compare condition!",
            //   icon: "warning",
            // });
          }
          break;
        case "range":
          console.log("amount.range");
          amount_compare.style.display = "none";
          amount_range.style.display = "block";
          if (document.getElementById("amount.compare").required == true) {
            document.getElementById("amount.compare").required == false;
            //   Swal.fire({
            //   title: "Required action!",
            //   text: "Please select the compare condition!",
            //   icon: "warning",
            // });
          }
          // amount_compare.value = "";
          if (document.getElementById("amount.compare").value != "") {
            document.getElementById("amount.compare").value = "";
          }
          break;
        default:
          console.log("reset amount");
          amount_compare.style.display = "none";
          amount_range.style.display = "none";
          document.getElementById("amount.compare").value = "";
          break;
      }
    }
    function filterSelection() {
      console.log(`filter applied: ${selection.value}`);
      switch (selection.value) {
        case "type":
          if (tType.style.display == "none") reverseView(tType);
          if (amount.style.display == "block") reverseView(amount);
          reverseView(applyBtn);
          selection.disabled = true;
          break;
        case "amount":
          reverseView(applyBtn);
          amountFormHelper();
          break;
        default:
          resetView();
          // alert('Please select the filter to apply')
          Swal.fire({
            title: "Required action!",
            text: "Please select the filter to apply!",
            icon: "warning",
          });
          break;
      }
    }
  </script>
  {% endblock %}
</html>
