{% extends 'root.html' %} {% block title %}myMY - LOGIN{% endblock %} {% block
body %}
<style>
  @media (min-width: 600px) {
    #container {
      place-items: center;
      margin: 0;
      margin-top: 20rem;
      display: grid;
    }
  }
  @media (max-width: 600px) {
    #container {
      place-items: center;
      margin: 0;
      margin-top: 18.5rem;
      display: grid;
    }
  }
</style>

<div class="position-relative" align="center" id="container">
  <div class="position-absolute col-5" id="fm">
    <div class="mx-1 my-1 px-3">
      <form
        class="form-control form-control-lg border border-3 border-success"
        action="/iden-operation/request/login"
        method="POST"
      >
        <img
          width="100"
          height="100"
          src="{{ url_for('static', filename='myMY-logo-v2.png') }}"
          alt="myMY Icon"
        />
        <h2 align="center" style="color: #ce9228; font-weight: bolder">
          LOGIN
        </h2>

        <div class="py-1 my-1" align="center">
          <label for="inputUsername" class="my-2"
            ><span style="font-weight: bold">Username</span></label
          >
          <input
            type="text"
            class="form-control"
            id="inputUsername"
            name="inputUsername"
            placeholder="Username"
          />
        </div>
        <div class="my-1" align="center"></div>
        <div class="py-1" align="center">
          <label for="inputPassword" class="my-2"
            ><span style="font-weight: bold">Password</span>
          </label>
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            name="inputPassword"
            placeholder="Password"
          />
        </div>
        <div class="col gap-1 py-2" align="center">
          <button
            type="submit"
            class="btn btn-lg btn-primary mb-3"
            align="center"
          >
            Confirm Identity</button
          ><br />
          OR
        </div>

        <div class="py-1 my-1" align="center">
          <a href="{{ url_for('redirector.toSignup') }}">
            <button type="button" class="btn btn-secondary mb-3">
              Signup
            </button></a
          >
        </div>
      </form>
    </div>
  </div>
</div>

<br />
<div class="my-5"></div>
<br />
<div class="my-5"></div>
<br />

<script>
  function isMobile() {
    return window.innerWidth < 600;
  }
  if (isMobile()) {
    // JavaScript code to change the class name
    document.addEventListener("DOMContentLoaded", function () {
      var tb = document.getElementById("fm");

      tb.classList.remove("col-5");
    });
  }
</script>
{% endblock %}
