{% extends 'root.html' %} {% block title %}myMY - Transaction{% endblock %}

<style>
  /* Media Query for larger screens */
  @media (min-width: 600px) {
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    main {
      width: 75%;
      max-width: 600px;
      margin: auto;
    }
    #tb {
      align-self: center;
      max-width: auto;

      margin: 20px;
      padding: 30%;
      border-collapse: collapse;
    }
  }
</style>
{% block body %}
<body>
  <main align="center" class="mx-1 px-1">
    <a href="/"
      ><img
        width="100"
        height="100"
        src="{{ url_for('static', filename='myMY-logo-v2.png') }}"
        alt="myMY Icon"
    /></a>
    <div id="get" class="my-2 mx-1" align="center">
      <h1><code>myMY</code> by LukeCreated</h1>

      <h2>Add Transaction Records</h2>
    </div>

    <div class="my-2">
      <a
        href="{{url_for('redirector.toHome')}}"
        type="button"
        class="btn btn-primary"
        >myMY Home</a
      >&ensp;
      <a
        href="{{url_for('redirector.toTransactionLookup')}}"
        type="button"
        class="btn btn-info"
        >Lookup</a
      >
      <!-- &ensp; -->
    </div>

    <div class="container-fluid">
      <form action="{{url_for('transaction.transactionNew')}}" method="POST">
        <div class="input-group mb-3">
          <select
            class="form-select border border-2 border-dark"
            id="typee"
            name="typee"
            required
          >
            <optgroup label="Inflow">
              <option value="income">Income</option>
              <option value="refund">Refund</option>
              <option value="dividends">Dividends</option>
              <option value="Interests">Interests</option>
            </optgroup>

            <optgroup label="Outflow">
              <option value="outcome" selected>Outcome</option>
              <option value="donate">Donate</option>
              <option value="invest">Invest</option>
            </optgroup>
            <option value="exchange">Exchange</option>
            <option value="owe">Owe</option>
            <option value="transfer">Transfer</option>
            <option value="deposit">Deposit</option>
            <option value="withdrawal">Withdrawal</option>
          </select>
          <label class="input-group-text btn btn-dark" for="type">Type</label>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text btn btn-warning">Party&Amount</span>
          <input
            type="text"
            aria-label="party"
            class="form-control border border-2 border-warning"
            name="party"
            placeholder="party"
            id="party"
            required
          />
          <input
            type="text"
            id="amount"
            aria-label="amount"
            class="form-control border border-2 border-warning"
            name="amount"
            pattern="^\d+(\.\d+)?$"
            placeholder="amount"
            title="Must be a float value (1.0)"
            required
          />
        </div>

        <div class="input-group mb-3">
          <select
            class="form-select border border-2 border-info"
            id="currency"
            name="currency"
          >
            <option value="THB" selected>฿:THB (บาท)</option>
            <option value="RMB">¥:RMB (หยวน)</option>
            <option value="TWD">$:TWD (เหรียญ)</option>
            <option value="USD">$:USD (เหรียญ)</option>
            <option value="other">Other</option>
          </select>
          <select
            class="form-select border border-2 border-info"
            id="via"
            name="via"
          >
            <option value="cash" selected>Cash</option>
            <optgroup label="MB (Mobile banking)">
              <option value="MB: SCB">MB: SCB</option>
              <option value="MB: KBank">MB: KBank</option>
              <option value="MB: ICBC TH">MB: ICBC TH</option>
              <option value="MB: Alipay">MB: Alipay</option>
              <option value="MB: WeChat Pay">MB: WeChat Pay</option>
              <option value="MB: TrueMoney">MB: TrueMoney</option>
            </optgroup>
            <optgroup label="CRD (Card)">
              <option value="CRD: True Master card">
                CRD: True Master card
              </option>
              <option value="CRD: SCB Planet">CRD: SCB Planet</option>
              <option value="CRD: SCB Debit">CRD: SCB Debit</option>
              <option value="CRD: ICBC TH Debit">CRD: ICBC TH Debit</option>
            </optgroup>
            <optgroup label="ATM">
              <option value="ATM: SCB">ATM: SCB</option>
              <option value="ATM: KBank">ATM: KBank</option>
              <option value="ATM: ICBC TH">ATM: ICBC TH</option>
              <option value="ATM: ICBC CH">ATM: ICBC CH</option>
              <option value="ATM:[other]">ATM: [OTHER]</option>
            </optgroup>
            <option value="other">Other</option>
          </select>
          <span class="input-group-text btn btn-info">Unit&Via</span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text btn btn-primary">Place&Region</span>
          <input
            type="text"
            aria-label="place"
            class="form-control border border-2 border-primary"
            name="place"
            placeholder="place"
            id="place"
            required
          />
          <select
            class="form-select border border-2 border-primary"
            id="country"
            name="country"
          >
            <option value="THA" selected>THA: Thailand</option>
            <option value="CHN">CHN: People's Republic of China (PRC)</option>
            <option value="TWN">TWN: Taiwan</option>
            <option value="USA">USA: United States of America (USA)</option>
            <option value="___">Other</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <input
            type="datetime-local"
            id="dtime"
            name="dtime"
            class="form-control border border-2 border-success"
          /><span class="input-group-text btn btn-success">Date&Time</span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Notes</span>
          <input
            type="text"
            aria-label="party"
            class="form-control"
            name="notes"
            placeholder="notes "
            id="notes"
            required
          />
        </div>

        <button type="submit" class="btn btn-lg btn-success">SAVE</button>
      </form>
      <br />
    </div>
    <!-- <div class="sticky-bottom mx-1 pb-3 mb-1" align="end">
      <a href="#" type="button" class="btn btn-dark">^</a>
    </div> -->
  </main>
</body>
<script>
  function print() {
    // Get the input element by its ID
    var datePicker = document.getElementById("dtime");

    // Attach an event listener to listen for changes in the selected date
    datePicker.addEventListener("change", function () {
      // Retrieve the selected date value
      var selectedDate = datePicker.value;

      console.log(
        "Selected date:",
        selectedDate,
        `length= ${selectedDate.length}`
      );
    });
  }
</script>

{% endblock %}
