{% extends 'root.html' %} {% block title %}myMY - Transaction{% endblock %}

<style>
  /* Media Query for larger screens */
  @media (min-width: 600px) {
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    main {
      width: 75%;
      max-width: 600px;
      margin: auto;
    }
    #tb {
      align-self: center;
      max-width: auto;

      margin: 20px;
      padding: 30%;
      border-collapse: collapse;
    }
  }
</style>
{% block body %}
<body>
  <main align="center" class="mx-1 px-1">
    <div id="get" class="my-2 mx-1" align="center">
      <h1><code>myMY</code> by LukeCreated</h1>

      <h2>Transaction</h2>
    </div>
    <div>
      <a
        href="{{url_for('redirector.toTransactionLookup')}}"
        type="button"
        class="btn btn-info"
        >Lookup transaction</a
      >&ensp;
      <a
        href="{{url_for('redirector.toTransactionDel')}}"
        type="button"
        class="btn btn-warning"
        >Edit</a
      >
    </div>
    <br />
    <div class="container-fluid">
      <form action="{{url_for('transaction.transactionNew')}}" method="POST">
        <div class="input-group mb-3">
          <select class="form-select" id="typee" name="typee" required>
            <option selected value="None">Choose...</option>
            <option value="outcome">Outcome</option>
            <option value="income">Income</option>
            <option value="exchange">Exchange</option>
            <option value="owe">Owe</option>
            <option value="transfer">Transfer</option>
            <option value="deposit">Deposit</option>
            <option value="withdrawal">Withdrawal</option></select
          ><label class="input-group-text" for="type">Type</label>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Party&Amount</span>
          <input
            type="text"
            aria-label="party"
            class="form-control"
            name="party"
            placeholder="party"
            id="party"
            required
          />
          <input
            type="text"
            id="amount"
            aria-label="amount"
            class="form-control"
            name="amount"
            pattern="^\d+(\.\d+)?$"
            placeholder="amount"
            title="Must be a float value"
            required
          />
        </div>

        <div class="input-group mb-3">
          <select class="form-select" id="currency" name="currency">
            <option value="THB" selected>THB</option>
            <option value="RMB">RMB</option>
            <option value="TWD">TWD</option>
            <option value="USD">USD</option>
            <option value="other">Other</option>
          </select>
          <select class="form-select" id="via" name="via">
            <option value="cash" selected>Cash</option>
            <option value="mb:scb">MB: SCB</option>
            <option value="mb:k+">MB: K+</option>
            <option value="mb:icbc_th">MB: ICBC TH</option>
            <option value="mb:alipay">MB: Alipay</option>
            <option value="atm:scb">ATM: SCB</option>
            <option value="atm:k+">ATM: K+</option>
            <option value="atm:icbc_th">ATM: ICBC TH</option>
            <option value="atm:icnc_ch">ATM: ICBC CH</option>
            <option value="atm:[other]">ATM: [OTHER]</option>
            <option value="other">Other</option>
          </select>
          <span class="input-group-text"
            >Currency&Via</span
          >
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Place&Region</span>
          <input
            type="text"
            aria-label="place"
            class="form-control"
            name="place"
            placeholder="place (&lt;=56chars)"
            id="place"
            required
          />
          <select class="form-select" id="country" name="country">
            <option value="THA" selected>Thailand</option>
            <option value="CHN">People's Republic of China (PRC)</option>
            <option value="TWN">Taiwan</option>
            <option value="USA">United States of America (USA)</option>
            <option value="___">Other</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <input
            type="datetime-local"
            id="dtime"
            name="dtime"
            class="form-control"
          /><span class="input-group-text">Date&Time</span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Notes</span>
          <input
            type="text"
            aria-label="party"
            class="form-control"
            name="notes"
            placeholder="notes (&lt;=100chars)"
            id="notes"
          />
        </div>

        <button type="submit" class="btn btn-lg btn-success">SAVE</button>
      </form>
    </div>
    <br />
    <div class="mt-1">
      <a
        href="{{url_for('redirector.toHome')}}"
        type="button"
        class="btn btn-primary"
        >myMY Home</a
      >
    </div>
  </main>
  <br />
  <div class="my-3"></div>
  <br />
  <div class="my-3"></div>
  <hr />
</body>
<script>
  function print() {
    // Get the input element by its ID
    var datePicker = document.getElementById("dtime");

    // Attach an event listener to listen for changes in the selected date
    datePicker.addEventListener("change", function () {
      // Retrieve the selected date value
      var selectedDate = datePicker.value;

      console.log(
        "Selected date:",
        selectedDate,
        `length= ${selectedDate.length}`
      );
    });
  }
</script>

{% endblock %}
